# Terraform
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/terraform.tfvars

# Ansible
ansible/inventory.ini
ansible/*.retry

# Logs et temporaires
*.log
/tmp/
deployment-info.txt
python-app.tar.gz

# SSH
.ssh/
