apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    # Important : on utilise le nom du service Docker interne (port 9090 interne)
    url: http://prometheus-central:9090
    isDefault: true
